@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  html {
    font-family: "Hind Madurai", Helvetica;
  }
}